services:
  anime-saas-reverseproxy:
    build:
      context: ./anime-saas-reverseproxy
    container_name: anime-saas-reverseproxy
    volumes:
      - ./anime-saas-reverseproxy/nginx-test.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
    depends_on:
      - anime-saas-front
      - anime-saas-api
      - anime-saas-mlservice
    restart: always

  anime-saas-front:
    build:
      context: ./anime-saas-front
      dockerfile: Dockerfile
    container_name: anime-saas-front
    expose:
      - "3000"

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 5s
      retries: 3

  anime-saas-api:
    build:
      context: ./anime-saas-api
    container_name: anime-saas-api
    command: dotnet watch run --urls=http://0.0.0.0:8080
    volumes:
      - ./anime-saas-api/AnimeSaasApi:/src
    expose:
      - "8080"
    env_file:
      - .env
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=${DB_HOST};Database=${DB_NAME};User Id=${DB_USER};Password=${DB_PASSWORD};
    depends_on:
      - anime-saas-mysql

  anime-saas-mlservice:
    build:
      context: ./anime-saas-mlservice
    container_name: anime-saas-mlservice
    command: uvicorn main:app --host 0.0.0.0 --port 5000 --reload
    volumes:
      - ./anime-saas-mlservice/app:/app
    expose:
      - "5000"
    environment:
      - DATABASE_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@anime-saas-mysql:3306/${DB_NAME}
    depends_on:
      - anime-saas-mysql

  anime-saas-mlscheduler:
    build:
      context: ./anime-saas-mlservice
      dockerfile: Dockerfile.scheduler
    container_name: anime-saas-mlscheduler
    volumes:
      - ./anime-saas-mlservice/app:/app
    environment:
      - DATABASE_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@anime-saas-mysql:3306/${DB_NAME}
    depends_on:
      - anime-saas-mysql
    restart: unless-stopped

  anime-saas-mysql:
    image: mysql:8
    container_name: anime-saas-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./mysql/init:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

  anime-saas-agent:
    build: ./anime-saas-agent
    env_file:
      - ./anime-saas-agent/.env
    environment:
      - API_URL=http://anime-saas-api:8080/api
    volumes:
      - ./anime-saas-agent/sa-agent.json:/app/sa-agent.json:ro
      - ./anime-saas-agent/logs:/app/logs
      - ./anime-saas-agent/data:/app/data
    depends_on:
      - anime-saas-api
    restart: unless-stopped

  anime-saas-status-scheduler:
    build:
      context: ./anime-saas-agent
      dockerfile: Dockerfile.status-scheduler
    container_name: anime-saas-status-scheduler
    env_file:
      - ./anime-saas-agent/.env
    environment:
      - API_URL=http://anime-saas-api:8080/api
    volumes:
      - ./anime-saas-agent/logs:/app/logs
    depends_on:
      - anime-saas-api
    restart: unless-stopped

volumes:
  mysql_data:
  nuxt_cache: